@font-face {
    font-family: 'PT Sans Narrow', 'Arial', sans-serif;
    src: url("../fonts/ptsansnarrow.woff2") format('woff2'),
    url("../fonts/ptsansnarrow.woff") format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'PT Sans Narrow Bold', 'Arial', sans-serif;
    src: url("../fonts/ptsansnarrowbold.woff2") format('woff2'),
    url("../fonts/ptsansnarrowbold.woff") format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
