*, *::before, *::after {
    box-sizing: border-box;
}
body{
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 14px;
    background-color: black;
    color: white;
    background-image: url("../images/main-bakgroung-image.png");
    background-repeat: no-repeat;
}
.visibility-hidden{
    display: none;
}
.header__container{
    width: 940px;
    margin: 0 auto;
}
.header__navigation{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header__navigation .header__logo{
    order: 2;
}